.img1 {
    align-items: center;
    width: 99%;
    padding: 3px;
}

.img2 {
    width: 170px;
    border-radius: 30px;
    padding-right: 3px;
    padding-top: 6px;
}

.info {
    border: solid 1px grey;
    font-size: 15px;
    margin: 3px;
}

.info div {
    margin: 5px;
}


.contacts {
    padding: 5px;
}

.contacts div {
    margin-left: 5px;
}