.wrapper {
    display: flex;
}

.ava {
    width: 50px;
    height: 50px;
    border-radius: 35%;
    cursor: pointer;
}

.but {
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
}