.header {
    grid-area: h;
    background-color: darkorchid;
}

.avatar {
    width: 85%;
    height: 98px;
    margin: 1px;
}

.login {
    width: 7%;
    height: 98px;
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}