body {
    background-color: yellow;
}

.app-wrapper {
    display: grid;

    grid-template-areas: "h h" "m p";
    grid-template-rows: 100px;
    grid-template-columns: 2fr 10fr;
    margin: 5px;
    grid-gap: 5px;
}

.page {
    grid-area: p;
    background-color: aqua;
}
