body {
    background-color: yellow;
}

.app-wrapper {
    display: grid;

    grid-template-areas:
            "h h" "n nBT";
    grid-template-rows: 100px;
    grid-template-columns: 2fr 10fr;
    margin: 5px;
    grid-gap: 5px;
}

.navBarTools {
     grid-area: nBT;
}
